<!DOCTYPE html>
<html>

<head>
    <title>
        Debugging!
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <% if (content) { %>
        <pre><%= content %></pre>
    <% } %>
</body>

</html>
