<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>


  <hr>

  <p>Twitter </p>
  <form method="POST" action="/oauth/twitter">
    <input type="submit" value="Log In with Twitter" />
  </form>
</body>

</html>
